#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h3, h4, i{
  color: #1e3a8a
}

p {
  color: #4b5563
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.95);   /* subtle translucency */
  backdrop-filter: blur(6px);               /* soft blur behind */
  border-bottom: 1px solid #e5e7eb;         /* light divider */
}

/* Inner container */
.navbar__inner {
  max-width: 1120px;                        /* ~7xl */
  margin: 0;
  padding: 0 24px;
  height: 75px;                             /* h-16 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand__logo {
  width: 45px; height: 45px;
  background: #1e3a8a;                      /* blue-900 */
  color: #fff;
  border-radius: 10px;
  display: flex; align-items: center; justify-content: center;
  font-weight: 700; font-size: 1.25rem;
  padding: 5px;
}

.brand__name {
  color: #1e3a8a;                            /* blue-900 */
  font-weight: 600;
  font-size: 1.5rem;
}

body { padding-top: 64px; }

/* Grid */

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Card */

.Card {
  width: 350px;            /* change this as you like */
  border-radius: 1rem;
  overflow: hidden;        /* clips the image corners if you round them */
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  background: #fff;
  margin: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth hover */
}

.Card:hover {
  transform: translateY(-10px); /* lift card up a bit */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* stronger shadow */
}

.Card img {
  width: 100%;
  height: 250px;           /* set a height if you want a uniform card */
  object-fit: cover;       /* crop to fill without distortion */
  display: block;    
  object-position: 50% 45%;    /* removes inline-gap */
}

.card-container {
  padding: 12px 14px;
  text-align: left;
  padding: 20px;
}

.card-location {
  display: flex;
  align-items: center;
  padding: 0;
  height: 30px;
}

i {
  margin-right: 10px;
}

a:hover {
  cursor: pointer;
}
